
{% extends 'ventas/index.html' %}
{% load static %}

{% block titulo %}
Acerca de Mi
{% endblock titulo %}

{% block cabecera %}
Acerca de Mi
{% endblock cabecera %}

{% block contenido %}
<br>
<br>
    <div class="container">
       <h2 class="text-center text-dark">Acerca de Mi</h2>
       <br>
           <div class="col">
                <div class="">
                    <div class="text-center">
                    <p>Hola que tal! Mi nombre es Gabriel Oliveto y tengo un trayecto de 20 años en el área de IT. Me he desempeñado en cargos de Soporte e infraestructura, Supervisor de infraestructura y cableado estructurado, Analista de telefonia IP Avaya, entre otros. Actualmente estoy  cursando la carrera de Ing en Informatica y aprendiendo el lenguaje de programación Python, data Analytics, Power Bi, entre otros cursos.)</p>
                    </div>
                </div>
            </div>    
    </div>
    <br>
    <br>
{% endblock contenido %}